#### Prepared for Gabor's Data Analysis

### Data Analysis for Business, Economics, and Policy
by Gabor Bekes and  Gabor Kezdi
 
Cambridge University Press 2021

**[gabors-data-analysis.com ](https://gabors-data-analysis.com/)**

 License: Free to share, modify and use for educational purposes. 
 Not to be used for commercial purposes.

### Chapter 01
**CH01A Finding a Good Deal among Hotels: Data Collection**

hotels-vienna dataset

version 1.0 2021-05-05

### Chapter 01
#### First look at the hotels data

In [1]:
import os
import sys
import warnings

import numpy as np
import pandas as pd

warnings.filterwarnings("ignore")

In [2]:
# Current script folder
current_path = os.getcwd()
dirname = current_path.split("da_case_studies")[0]

# location folders
data_in = dirname + "da_data_repo/hotels-vienna/clean/"
data_out = dirname + "da_case_studies/ch01-hotels-data-collect/"
output = dirname + "da_case_studies/ch01-hotels-data-collect/output/"
func = dirname + "da_case_studies/ch00-tech-prep/"
sys.path.append(func)

In [3]:
# Import the prewritten helper functions 
from py_helper_functions import *

In [4]:
# load in clean and tidy data and create workfile
df = pd.read_csv(data_in + "hotels-vienna.csv")

In [5]:
############################################
# First look
############################################
df = df.filter(
    [
        "hotel_id",
        "accommodation_type",
        "country",
        "city",
        "city_actual",
        "neighbourhood",
        "center1label",
        "distance",
        "center2label",
        "distance_alter",
        "stars",
        "rating",
        "rating_count",
        "ratingta",
        "ratingta_count",
        "year",
        "month",
        "weekend",
        "holiday",
        "nnights",
        "price",
        "scarce_room",
        "offer",
        "offer_cat",
    ]
)

In [6]:
df.describe()

,hotel_id,distance,distance_alter,stars,rating,rating_count,ratingta,ratingta_count,year,month,weekend,holiday,nnights,price,scarce_room,offer
count,428.000000,428.000000,428.000000,428.000000,393.000000,393.000000,325.000000,325.000000,428.0,428.0,428.0,428.0,428.0,428.000000,428.000000,428.000000
mean,22153.502336,1.658879,3.718458,3.434579,3.970992,155.048346,3.990769,556.516923,2017.0,11.0,0.0,0.0,1.0,131.366822,0.598131,0.679907
std,146.858477,1.595673,1.631341,0.772278,0.577444,191.217435,0.482638,586.874582,0.0,0.0,0.0,0.0,0.0,91.580545,0.490850,0.467058
min,21894.000000,0.000000,0.600000,1.000000,1.000000,1.000000,2.000000,2.000000,2017.0,11.0,0.0,0.0,1.0,27.000000,0.000000,0.000000
25%,22027.750000,0.700000,2.700000,3.000000,3.700000,27.000000,3.500000,129.000000,2017.0,11.0,0.0,0.0,1.0,83.000000,0.000000,0.000000
50%,22155.500000,1.300000,3.400000,3.500000,4.000000,84.000000,4.000000,335.000000,2017.0,11.0,0.0,0.0,1.0,109.500000,1.000000,1.000000
75%,22279.250000,2.000000,4.400000,4.000000,4.400000,203.000000,4.500000,811.000000,2017.0,11.0,0.0,0.0,1.0,146.000000,1.000000,1.000000
max,22409.000000,13.000000,13.000000,5.000000,5.000000,1541.000000,5.000000,3171.000000,2017.0,11.0,0.0,0.0,1.0,1012.000000,1.000000,1.000000

In [7]:
df = df.filter(
    [
        "hotel_id",
        "accommodation_type",
        "country",
        "city",
        "city_actual",
        "center1label",
        "distance",
        "stars",
        "rating",
        "price",
    ]
)

### Table 1.1

In [8]:
df.head()

,hotel_id,accommodation_type,country,city,city_actual,center1label,distance,stars,rating,price
0,21894,Apartment,Austria,Vienna,Vienna,City centre,2.7,4.0,4.4,81
1,21897,Hotel,Austria,Vienna,Vienna,City centre,1.7,4.0,3.9,81
2,21901,Hotel,Austria,Vienna,Vienna,City centre,1.4,4.0,3.7,85
3,21902,Hotel,Austria,Vienna,Vienna,City centre,1.7,3.0,4.0,83
4,21903,Hotel,Austria,Vienna,Vienna,City centre,1.2,4.0,3.9,82

In [9]:
# os.mkdir(output)
# df.loc[0:4].to_csv(output + "hotel_listobs.csv", index=False)